html{
	overflow:hidden;
}
body {
	margin:0px;
	padding:0px;
	min-height:550px;
	min-width:600px;
	font-family: arial;
	color:#000000;
}
a:visited,
a:focus,
a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	color:#000000;
	text-decoration:underline;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }




h1 {
	text-transform:uppercase;
	text-align:center;
	color:#000000;
	margin-bottom:42px;
}
h2,
h3 {
	text-transform:uppercase;
	text-align:center;
	color:#000000;	
	margin-top:25px;
}
h4 {
	color:#000000;	
	font-size:85%;
	margin:0px;
	margin-top:3px;
	margin-bottom:-3px;
	padding:0px;
	text-align:center;	
}
hr {
	border:0px;
	height:4px;
	background-color:#000000;
	margin:0px;
	padding:0px;
}

p {
	padding:3px 0px;
}